name: ci
on:
  push:
  pull_request:
jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.11.0
      - name: install
        run: npm install
      - name: build
        run: npm run build
      - name: lint checks
        run: npm run lint